__pycache__/
dist/
toolchains/
log*/
build/python*
build/toolchain*
build/*.toml
*cache*/
*stub*/
*.egg-info/
.*/
!.github/
*.old
*.so
*.py[cod]
*.pypirc
_build
.pytest_cache
.vscode
CMakeLists.txt.user
docs/build
*TODO*